{% load static %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="myNav">
        <div class="col-3">
            <a class="navbar-brand" href="..">
                <img src="{% static 'img/LogoWG.png' %}" alt="Fluent Home" height="50px"/></a>
            <a class="navbar-brand" href=".." id="lastLogo">
                <img src="{% static 'img/LogoText2.png' %}" alt="Fluent Home" height="30px"/></a>
        </div>

        <div class="col-2">

            <button class="btn btn-primary" type="button" name="button">Home</button>

        </div>

        <div class="col-4">
            <form class="navbar-form" action="search/">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Fluence">
                    <!--
                    <div class="input-group-btn">

                        <button class="btn btn-default" type="submit">
                            Search!
                        </button>
                    </div>
                    -->
                </div>
            </form>
        </div>
        <div class="col-1"></div>

        <!--
        <div class="col-3">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#Post">
                        <button class="btn btn-primary">POST</button>
                    </a>
                </li>
            </ul>
        </div>
        -->

        <div class="col-2">
            {% if user.is_authenticated %}

                <form id="logoutForm" action="/logout" method="get" class="form-inline my-2 my-lg-0">
                    {% csrf_token %}
                    <img src="{% static 'img/default-user.png' %}" alt="Profile Icon" height="50px"/>
                    <span class="navbar-brand">&nbsp; {{ user.username }}</span>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                </form>

            {% else %}

                <div class="navbar-nav navbar-right">
                    <button class="login-btn btn btn-primary" type="button" name="button">Log in</button>
                    &nbsp;
                    <button class="signup-btn btn btn-primary" type="button" name="button">Sign up</button>
                </div>

            {% endif %}
        </div>

    </div>
</nav>

