
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IEETA Security</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/small-business.css" %}" rel="stylesheet">

</head>

<body style="padding-bottom: 70px;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">IEETA Security</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Services
            <span class="sr-only">(current)</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="margin-top:20px; margin-bottom:20px;">
         <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                  <img src="{% static "images/citizen-card.jpg" %}" style="width:auto; height:200px;"/>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-8">
                  <h1>Citizen Card Pin</h1>
                  <p>Present your authentication pin from your citizen card to prove your identity.</p>
              </div>
        </div>

        <hr>

        <div class="row">
              <div class="col-sm-8 col-md-8 col-lg-8">
                 <h1>Biometric fingerprint</h1>
                  <p>Your identity captured from your fingers through our biometric sensor, resorting to data extracted from your citizen card.</p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                   <img src="{% static "images/fingerprint.jpeg" %}" style="width:auto; height:200px;"/>
              </div>
        </div>

        <hr>

         <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                  <img src="{% static "images/nfc.jpg" %}" style="width:auto; height:200px;"/>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-8">
                  <h1>QR code and NFC</h1>
                  <p>Install our mobile application and enter the building simply by displaying your secret qr code or passing your phone in front of the access control device.</p>
              </div>
        </div>

      <hr>

        <div class="row">
              <div class="col-sm-8 col-md-8 col-lg-8">
                 <h1>Profile settings</h1>
                  <p>Use the mobile app or section of the website to setup your citizen card for use, or authentication tokens for your phone(s). You may also read through the records of your entrances or exits of our building.</p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                   <img src="{% static "images/profile.png" %}" style="width:auto; height:200px;"/>
              </div>
        </div>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="bg-dark navbar fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>
